html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  z-index: 1;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: #000;
  border-radius: 5px;
  &:disabled {
    background-color: #cccccc;
    color: black;
  }
}

button:hover {
  cursor: pointer;
  animation: jelly 0.5s;
  &:disabled {
    animation: none;
  }
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}


.flx-ctr {
  justify-content: center;
  display: flex;
}

.search.top {
  background: radial-gradient(ellipse at top, #fff, transparent),
  radial-gradient(ellipse at bottom, #aaa, transparent);
  height: 75px;
}

.search.btm {
  background: radial-gradient(ellipse at bottom, #fff, transparent),
  radial-gradient(ellipse at top, #999, transparent);
  height: 100px;
}

.render-coontainer {
  border-top:    2px solid  #000;
  border-bottom: 2px solid  #000;
}

.painting {

}

.painting__frame {
  flex-wrap: wrap;
  max-width: 800px;
  background: rgba(255, 255, 255, 0.2);
  margin: 10px 10%;
  border-radius: 6px;
  padding: 2% 10px;
}

.frame__cell.right {
align-self: flex-end;
}

.painting__image {
width: 400px;
height: auto;
}

.painting__paging {
  text-shadow: 0px 0px 2px #fff;
}

.painting__label {
  max-width: 360px;
  box-shadow: 1px 1px 10px -3px #333;
  padding: 2%;
  margin: 2% 0;
  background: rgba(255,255,255, 0.8);
  .row {
    display: block;
    text-align: left;
    margin: 2% 0;
  }
}

.label__title {
  font-weight: bold;
}

.map-container {
  width: 500px;
  height: 500px;
}

.map-marker {
  width: 40px;
  fill: #00ff00;
}
