$red:     #fb4264;
$pink:      #ffdfff;
$white-half: rgba(255,255,255,0.5);
$white-full: rgba(255,255,255,0.9);
$darkgray:  #1f1f1f;
$lightgray: #cfcfcf;
$gray: #888;
$btm-margin: 0 0 20px;

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  padding: 2%;
  color: $darkgray;
}

a:active,
a:hover,
a:link,
a:visited {color: $red}

li {
  list-style-type: none;
}

.heading {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  letter-spacing: -1px;
  text-shadow: 1px 2px 3px $darkgray;
  color:$white-full;
  margin: $btm-margin;
  width: 100%;
  text-align: center;
}

.search-error {
  background: $white-full;
  color: $red;
  padding: 20px;
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  z-index: 1;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: $red;
  border-radius: 4px;

  &:disabled {
    background-color: $lightgray;
    color: $gray;
  }
}

button:hover {
  cursor: pointer;
  animation: jelly 0.5s;

  &:disabled {
    animation: none;
  }
}
@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.flx-ctr {
  justify-content: center;
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.search {
  margin: $btm-margin;
  text-align: center;
}
.ReactTags__tagInput {
  position: relative;
  display: inline-block;
}

input {
  width: 6.5em;
  color: $darkgray;
  font-size: inherit;
  font-family: inherit;
  background-color: $white-full;
  padding: 0.3em 0.45em;
  border: 2px solid transparent;
  transition: background-color 0.3s ease-in-out;
  border-radius: 4px;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: $gray;
}

span.line {
  position: absolute;
  background-color: $red;
  transition: transform 0.1s ease;
}

span.bottom,
span.top {
  height: 2px;
  left: 0;
  right: 0;
  transform: scaleX(0);
}

span.left,
span.right {
  width: 2px;
  top: 0;
  bottom: 0;
  transform: scaleY(0);
}

span.bottom {
  bottom: 0;
  transform-origin: bottom right;
}

input:focus ~ .bottom {
  transform-origin: bottom left;
  transform: scaleX(1);
}

span.right {
  right: 0;
  transform-origin: top right;
  transition-delay: 0.05s;
}

input:focus ~ .right {
  transform-origin: bottom right;
  transform: scaleY(1);
}

span.top {
  top: 0;
  transform-origin: top left;
  transition-delay: 0.15s;
}

input:focus ~ .top {
  transform-origin: top right;
  transform: scaleX(1);
}

span.left {
  left: 0;
  transform-origin: bottom left;
  transition-delay: 0.25s;
}

input:focus ~ .left {
  transform-origin: top left;
  transform: scaleY(1);
}

.ReactTags__tagInput {
    margin: 0 5px;
}

div.ReactTags__selected span.ReactTags__tag {
  border: 2px solid $gray;
  background: $white-full;
  font-size: 16px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  cursor: move;
  border-radius: 4px;
}

div.ReactTags__selected a.ReactTags__remove {
  color: $gray;
  margin-left: 5px;
  cursor: pointer;
}

div.ReactTags__suggestions {
  position: absolute;
}

div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0,0,0,0.2);
  background: $white-full;
  margin: 0;
  padding: 0;
}

div.ReactTags__suggestions li {
  border-bottom: 1px solid $lightgray;
  padding: 5px 10px;
  margin: 0;
}

div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: $red;
  cursor: pointer;
}

.loading {
  width: 275px;
  transform-origin: center;
  animation: rotate 2s linear infinite;

  circle {
    fill: none;
    stroke: $red;
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}



@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -125px;
  }
}

.page {
  text-align: center;
}

.painting {
  color: #FFF;
  background: rgba(0, 0, 0, 0.6);
}

.painting__frame {
  flex-wrap: wrap;
  padding: 2% 10px;
}

.frame__cell {
  flex: 1
}

.frame__cell.left {
  min-width: 400px;
  max-width: 800px;
}

.frame__cell.right {
  align-self: center;
  background: $darkgray;
  max-width: 350px;
  min-width: 250px;
}

.painting__image {
  border: 6px solid $darkgray;
  max-width: 100%;
  box-sizing: border-box;
}

.painting__paging {
  margin: $btm-margin
}

.painting__label {
  padding: 6px;
  margin: 2% 0;
}

.row {
  display: block;
  text-align: left;
  margin: 2% 0;
}

.label__title {
  font-weight: bold;
}

.map-wiki {
  background: rgba(255, 255, 255, 0.8);
}

.wiki {
  flex: 1;
  margin: 2%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wiki__results {
  text-align: left;
}

.wiki__link {
  display: block;
  text-align: right;
}

.map {
  flex: 2;
}

.map-container {
  width: 100%;
  height: 100%;
  min-height: 320px;
  min-width: 400px;
}

.map-marker {
  border-radius: 50%;
  background-color: $white-half;
  width: 35px;
  padding: 5px;
  fill: $red;
}
