$red: #4542fb;
$pink: #ffdfff;
$white: rgba(255, 255, 255, 0.9);
$darkestgray:hsla(0, 0%, 11%, 0.9);
$darkergray: hsla(0, 0%, 25%, 0.9);
$darkgray: hsla(0, 0%, 51%, 0.9);
$gray: hsla(0, 0%, 79%, 0.9);
$lightgray: hsla(0, 0%, 87%, 0.9);
$lightergray: hsla(0, 0%, 91%, 0.7);
$lightestgray:hsla(0, 0%, 94%, 0.8);

$btm-margin: 0 0 20px;
$lightestblue: hsla(166, 46%, 91%, 0.9);
$lightblue: hsla(197, 63%, 82%, 0.9);
$blue: hsla(182, 41%, 67%, 0.9);
$darkblue: hsla(211, 48%, 49%, 0.9);
$darkgreen: hsla(148, 10%, 16%, 0.9);

* {
  margin: 0;
  padding: 0;
  font-size: calc(10px + (20 - 10) * ((100vw - 430px) / (1280 - 430)));
  font-family: inherit;
  line-height: 1.5;
  font-weight: 300;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Avenir', 'Gibson', 'Proxima Nova', 'Montserrat', sans-serif;
  padding: 2%;
  color: $darkergray;
}

a:active,
a:hover,
a:link,
a:visited {
  color: $red
}

svg {
  height: calc(10px + (20 - 10) * ((100vw - 430px) / (1280 - 430)));
  width: auto;
  min-width: 20px;
}

ul {
  border-radius: 0 .5em 0.5em 0;
}

li {
  list-style-type: none;
  padding: .5em 0;
  border-left: 4px solid $darkgray;
  margin-bottom: .5em;
  background: $lightestgray;
  border-radius: inherit;
  width: 97%;

  &.active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    width: 98%;
    border-left: 4px solid $darkergray;
  }

  &:nth-child(odd) {
    background: $lightergray;
  }
}

.darkergray {}

.heading {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  letter-spacing: -1px;
  text-shadow: 1px 2px 3px $darkgray;
  color: $white;
  margin: $btm-margin;
  width: 100%;
  text-align: center;
}

.search-error {
  background: $white;
  color: $red;
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

button {
  color: $white;
  padding: 0.5em;
  outline: none;
  border: none;
  background-color: $darkblue;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  display: flex;

  &:disabled {
    background-color: $lightestgray;
    color: $gray;
  }

  &.button__relationships {
    background-color: $white;
    color: $darkblue;
    border: 2px solid $darkblue;
    margin-left: .5em;
  }

  &.button__details {
    border-radius: 8px 0 0 8px;
    padding: 0.1em 0 0.1em 0.5em;
  }

  &:hover {
    box-shadow: inset 0 0 0 99999px rgba(255, 255, 255, 0.2);
  }

  .arrow {
    padding: 0.25em;
    border-radius: 8px 0 0 8px;
    font-weight: bold;
    margin: .25em 0 .25em 0.25em;
    display: inline-block;

    &.active {
      background-color: $lightblue;
      color: $darkblue;
    }
  }
}

.flx-ctr {
  justify-content: center;
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.related {
  background: $lightgray;
  border-radius: .5em;
}

.search {
  margin: $btm-margin;
  text-align: center;
  border-radius: .5em;
  padding: 1em;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: $darkestgray;
  color: $white;
}

.search__field {
  display: flex;
  align-items: center;
}

.search__suggestions {
  display: flex;
  align-items: center;
  margin-top: 1em;

  button {
    margin: 0 .25em;
    background-color: $darkergray;
    color: $lightestgray;
    border: 2px solid $lightestgray;
  }
}

.ReactTags__tagInput {
  position: relative;
  display: inline-block;
}

input {
  width: 25vw;
  color: $darkgray;
  font-size: inherit;
  font-family: inherit;
  background-color: $white;
  padding: 0.3em 0.45em;
  border: 2px solid transparent;
  transition: background-color 0.3s ease-in-out;
  border-radius: 4px;
  margin: 0 1em;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: $darkgray;
}

span.line {
  position: absolute;
  background-color: $red;
  transition: transform 0.1s ease;
}

span.bottom,
span.top {
  height: 2px;
  left: 0;
  right: 0;
  transform: scaleX(0);
}

span.left,
span.right {
  width: 2px;
  top: 0;
  bottom: 0;
  transform: scaleY(0);
}

span.bottom {
  bottom: 0;
  transform-origin: bottom right;
}

input:focus~.bottom {
  transform-origin: bottom left;
  transform: scaleX(1);
}

span.right {
  right: 0;
  transform-origin: top right;
  transition-delay: 0.05s;
}

input:focus~.right {
  transform-origin: bottom right;
  transform: scaleY(1);
}

span.top {
  top: 0;
  transform-origin: top left;
  transition-delay: 0.15s;
}

input:focus~.top {
  transform-origin: top right;
  transform: scaleX(1);
}

span.left {
  left: 0;
  transform-origin: bottom left;
  transition-delay: 0.25s;
}

input:focus~.left {
  transform-origin: top left;
  transform: scaleY(1);
}

.ReactTags__tagInput {
  margin: 0 5px;
}

div.ReactTags__selected span.ReactTags__tag {
  border: 2px solid $gray;
  background: $white;
  font-size: 16px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  cursor: move;
  border-radius: 4px;
}

div.ReactTags__selected a.ReactTags__remove {
  color: $gray;
  margin-left: 5px;
  cursor: pointer;
}

div.ReactTags__suggestions {
  position: absolute;
}

div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: $white;
  margin: 0;
  padding: 0;
}

div.ReactTags__suggestions li {
  border-bottom: 1px solid $lightgray;
  padding: 5px 10px;
  margin: 0;
}

div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: $red;
  cursor: pointer;
}

.loading {
  width: 275px;
  transform-origin: center;
  animation: rotate 2s linear infinite;

  circle {
    fill: none;
    stroke: $red;
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

.frame__cell {
  flex: 1
}

.frame__cell.left {
  min-width: 400px;
  max-width: 800px;
}

.frame__cell.right {
  align-self: center;
  background: $darkgray;
  max-width: 350px;
  min-width: 250px;
}

.row {
  display: block;
  text-align: left;
  margin: 2% 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page__buttons {
  display: flex;

  button {
    display: flex;
    margin: .5em;
  }
}

.entity {
  padding: 1em;
}

.entity__name {

  font-size: 160%;
}

.entity__blurb {
  color: $darkergray;
  font-weight: 500;
  margin: 1.5em 0 1em;
}

.entity__paging {
  font-weight: 200;
  color: $darkgray;
  margin-top: .5em;

  div {
    align-self: center;
    font-size: 90%;
  }

  .entity__paging__button__text {
    white-space: nowrap;
    max-width: 40vw;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }
}

.related {
  background-image: linear-gradient(to right, $lightblue, $darkblue);
  border-radius: .5em;
}

.relationships {
  flex: 1;
  padding: .5em 0;
}

.relationships__results__title {
  padding-bottom: 1em;
  color: $darkestgray;
  margin: .5em 1em 1.5em 1em;
  border-bottom: 1px solid $darkgray;

  .title-element {
    display: flex;
    align-items: center;

    .title-element__text {
      font-weight: 500;
    }

    svg {
      margin-right: .5em;
    }
  }

  .hand {
    text-align: center;
    margin-top: .5em;
  }
}

.description {
  padding: .5em;
}

.details {
  border-radius: inherit;
  padding: 1em;
  flex: 2;

  .details__window {
    position: -webkit-sticky;
    position: sticky;
    top: 1em;
    background: $lightestgray;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    max-height: 90vh;
    overflow: auto;

    .details__window__name {
      padding: 1.5em 1em;
      background: $white;
      border-radius: 8px 8px 0 0;
      font-size: 120%;
    }

    .details__window__summary {
      padding: 0 1em;

      .blurb {
        margin: 1em 0;
        color: $darkergray;
        font-weight: 500;
      }
    }
  }
}